.mainDiv {
  margin: 0;
  padding: 1px;
}

.recipeImage {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px 0;
  font-size: 1em;
}

.backgroundTransition {
  transition: background-color 0.3s ease;
  background-color: #FF9600;
}

.backgroundTransition:hover {
  background-color: #FFA500;
}

a {
  text-decoration: none;
}
