<div class="recipeImage" [ngStyle]="{'background-image': 'url(' + recipe.image + ')'}"></div>
<!-- <img class="img-responsive" src="{{ recipe.image }}" alt="{{ recipe.title }}"> -->
<div class="container">
  <h2>{{ recipe.title }}</h2>
  <hr class="style-two">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="sectionBackground">
          <h3>Ingredients</h3>
          <ul>
            <li [ngClass]="{'ingredientZero': ingredient.amount === '0'}" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.amount }} {{ ingredient.measurement}} {{ ingredient.ingredient}}</li>
          </ul>
        </div>
        <div id="directions" class="sectionBackground">
          <h3>Directions</h3>
          <ol id="directionList">
            <li [class.directionClicked]="direction.clicked == true" *ngFor="let direction of recipe.directions; let i = index" (click)="onNewAmount(i)">{{ direction.direction }}</li>
          </ol>
        </div>
      </div>
    <div class="col-xs-12 col-sm-3">
      <div id="nutritional">
        <h4>Nutritional Information</h4>
        <hr>
        <ul>
          <li><span class="nutritionalInfoTitle">Calories:</span> {{ recipe.nutritionalInfo.calories }}</li>
          <li><span class="nutritionalInfoTitle">Protien:</span> {{ recipe.nutritionalInfo.protien }}</li>
          <li><span class="nutritionalInfoTitle">Carbs:</span> {{ recipe.nutritionalInfo.carbs }}</li>
          <li><span class="nutritionalInfoTitle">Fat:</span> {{ recipe.nutritionalInfo.fat }}</li>
          <li><span class="nutritionalInfoTitle">Sugar:</span> {{ recipe.nutritionalInfo.sugar }}</li>
          <li><span class="nutritionalInfoTitle">Sodium:</span> {{ recipe.nutritionalInfo.sodium }}</li>
          <li><span class="nutritionalInfoTitle">Fiber:</span> {{ recipe.nutritionalInfo.fiber }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

