/* image section */
.recipeImage {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* title section */

/* ingredients section */
.ingredientZero {
  text-decoration: line-through;
}

/* directions section */
#directions {
  margin: 20px 0;
}

#directionList {
  padding: 0;
}

#directionList li {
  background-color: lightgray;
  border-radius: 5px;
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

.directionClicked {
  background-color: green!important;
}

/* nutritional information section */
#nutritional {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}

#nutritional h4 {
  /* text-align: center; */
  padding-top: 20px;
  padding-left: 15px
}

.nutritionalInfoTitle {
  font-weight: bold;
}

#nutritional ul {
  padding: 15px;
}

#nutritional ul li {
  padding: 15px 0;
  list-style-type: none;
}

/* multiple sections */
h3, h4 {
  margin-top: 5px;
}

.sectionBackground {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}
